.button{
    border: none;
    display: inline-block;
    font-family: 'Sulphur Point', sans-serif;
    outline: none;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1;
    margin: 0;  
}

.button-submit{
    background-color: $red;
    color: $cream;
    height: 3rem;
    width: 5rem;
    border-radius: 5px;
}