.centerOfOperation{
    display: grid;
    grid-template-columns:  62vw 20vw;
    height: 100vh;
    background-color: white;
}
.centerOfOperation__data{
    display: grid;
    grid-template-rows:  10vh 50vh 40vh;
    height: 100vh;
}
.centerOfOperation__data2{
    display: grid;
    grid-template-rows:  10vh 50vh 40vh;
    height: 100vh;
}
.centerOfOperation__chart{
    margin: 0.5rem 1rem;
    align-self: center;
}

.centerOfOperation__title{
    display: flex;
    align-items: flex-end;
    & img{
        height: 8vh;
        margin: 0.5rem 0.5rem 0 1rem;
    }
    & h1{
        font-size: 5vh;
        margin:0;
        color: $color-title;
    }
}
.centerOfOperation__next{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
    & a{
        background: transparent;
        border:none;
        outline: none;
       
    }
    & img{
        height: 20vh;
        &:hover{
            transform: scale(1.1);
            transition: all 0.2s ease;
        }
        &:active{
            transform: translateY(4px);
        }
    }

    & h6{
        margin-top:0.3rem;
        font-weight: 700;
    }
    
    & h5{
        margin-top:0.3rem;
        font-weight: 700;
    }
}
.centerOfOperation__list{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 0 0 1rem 0;
    @media(max-width: 640px) {
        padding: 1rem 1rem;
    }
}

.centerOfOperation__list2{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    text-align: center;
    @media(max-width: 640px) {
        padding: 1rem 1rem;
    }
}

.centerOfOperation__list-item{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 0 2vw;
    flex-wrap: wrap;
    height: 35vh;
    width: 15vw;
    padding: 0 0.5rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px $color-subtitle;
    &:hover{
        -webkit-transform: scale(0.9);  
        -ms-transform: scale(0.9);  
        transform: scale(0.92);  
        transition: all 0.3s ease;
        transform: scale(0.95); 
        cursor: pointer;
      }
}

.centerOfOperation__list-item2{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 35vh;
    width: 13vw;
    margin: 0 0.8vw;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px $color-subtitle;
    &:hover{
        -webkit-transform: scale(0.9);  
        -ms-transform: scale(0.9);  
        transform: scale(0.92);  
        transition: all 0.3s ease;
        transform: scale(0.95); 
        cursor: pointer;
      }
}

.centerOfOperation__image img{
    height: 13vh;
    position: relative;
    top:-5vh;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0px 2px 5px 0px $color-subtitle;
}


.test__title{
    font-family: 'Sulphur Point', sans-serif;   
    text-transform: capitalize;
    text-align: center;
    margin: 10rem 5rem 3rem 5rem;
    
}

.text__sub{
    margin-top: 10rem;
}

.test-timer{
    position: absolute;
    top: 4.2rem;
    left: 3rem;
    cursor: help;
}

.test__paragraph{
    font-family: 'Sulphur Point', sans-serif;   
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    margin: 0 1rem 2rem 1rem;
    padding: 2rem 10rem;
    font-weight: 600;
}

.test__sub-question{
    font-family: 'Sulphur Point', sans-serif;   
    text-transform: capitalize;
    text-align: center;
    margin: 0 1rem 2rem 1rem;
    padding:  1rem 10rem 2rem 10rem;
}


.test__item{
    & p {
        font-size: 4rem;
        margin-top:0;
    }
}

.test__img{
    & img{
        max-height: 22rem;
        width: 25rem;
        min-height: 15rem;
        min-width: 25rem;
    }

    @media(max-width: 640px) {
        height: rem;
        width: 20rem;
   
     }
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.test__options{
    position: fixed;
    bottom: 0;
    margin-bottom: 4rem;
}

.testpage{
    height: 100%;
    overflow:hidden;
    overflow-y: scroll;
    
}

.goto-dashboard{
    color: #2e3740;
    font-weight:700;
    margin: 0.7rem 1rem;
    position: absolute;
    &:hover{
        transform: scale(1.1);
        color: #2e3740;
        text-decoration: none;
     }
}