.cognitive{
    display: grid;
    grid-template-columns:  62vw 20vw;
    height: 100vh;
    background-color: white;
    // overflow: auto;
}
.cognitive__data{
    overflow: auto;
    overflow-x: hidden;
}
