.dashboard{
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom:2rem;
}
.dashboard-list{
  height: 100vh;
  display: flex;
  align-items: space-evenly;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}


.dashboard__grid-col-2 {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

}
.dashboard__logo{
  margin-top:1rem;
  display: flex;
  justify-content: center;
  & img{
    height: 8vh;
    min-width: 8vw;
  }
  min-height: 20vh;
}
.dashboard__sidebar{
  position: fixed;
  min-width: 18vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  color: white;
  font-weight: bold;
  background: #2e3740;
  overflow-y: auto;
}
.dashboard__sidebar-grid1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5vw;
  // justify-content: center;
}
.dashboard__sidebar1-item {
  display: flex;
  // justify-content: flex-end;
  padding-left: 1rem;
  font-size: 2.2vh;
  margin-top: 6vh;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  & a {
    color: inherit;
    text-decoration: none;
  }
}
.dashboard__sidebar2-item {
  padding-left: 1rem;
  font-size: 2.5vh;
  margin-top: 6vh;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */


}
.dashboard__sidebar-grid2 {
  display: grid;
  grid-template-rows: 1fr;
  align-items: end;
  padding-top: 12vh;
  padding-bottom: 1rem;
}
.dashboard__icon {
  margin-right: 1rem;
  font-size: 1.5rem;
  width: 1.9rem;
}
.dashboard__sub-icon{
  margin-right: 1rem;
  font-size: 1rem;
  width: 1.9rem;
}
.dashboard__text-white {
text-decoration: none !important;
color: white  !important;
}
.dashboard__sub-item {
  margin-left: 1rem;
  margin-bottom:1.2rem;
  padding: 0 0.5rem;
  font-weight: 540;
  font-size: 0.95rem;
  & a {
    color: inherit;
    text-decoration: none;
  }
}