.test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.test__title{
    font-family: 'Sulphur Point', sans-serif;   
    margin-bottom: 4rem;
    text-transform: capitalize;
    text-align: center;
}

.test__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
        font-size: 4rem;
        margin-top:0;
        margin-bottom: 6rem;

    }
}

.test__img{
    height: 15rem;
    min-height: 15rem;
    min-width: 20rem;
    margin-bottom: 6rem;
}