.test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    background: white;
    // max-width: 750px;
    @media(max-width: 640px) {
        padding: 1rem 1rem;
    }
}


.test__title{
    font-family: 'Sulphur Point', sans-serif;   
    text-transform: capitalize;
    text-align: center;
    margin: 10rem 5rem 3rem 5rem;

}
.test-feedback{
    height:100vh;   
}

.test-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
.text__sub{
    margin-top: 10rem;
}

.test-timer{
    position: absolute;
    top: 4.2rem;
    left: 3rem;
    cursor: help;
}

.test__paragraph{
    font-family: 'Sulphur Point', sans-serif;   
    & h2 {
        font-size: 4vh;
        line-height: 1.5;

    }
    text-transform: capitalize;
    text-align: center;
    padding: 2rem 10rem;
    font-weight: 600;
}

.test__sub-question{
    font-family: 'Sulphur Point', sans-serif;   
    text-transform: capitalize;
    text-align: center;
    & h2 {
        font-size: 3.8vh;
        line-height: 1.5;

    }
    padding:  1rem 10rem 2rem 10rem;
}


.test__item{
    display: flex;
    flex-direction: column;
    height: 93vh;
    justify-content:space-evenly;
    & p {
        font-size: 4rem;
        margin-top:0;
    }
}


.test__item2{
    display: flex;
    flex-direction: column;
    & p {
        font-size: 4rem;
        margin-top:0;
    }
}
.test__img{
    & img{
        max-height: 22rem;
        width: 25rem;
        min-height: 15rem;
        min-width: 25rem;
    }

    @media(max-width: 640px) {
        height: rem;
        width: 20rem;
   
     }
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.test__options{
    position: fixed;
    bottom: 0;
    margin-bottom: 4rem;
}

.testpage{
    height: 100vh;
    padding-bottom : 1rem;
}

.goto-dashboard{
    color: #2e3740;
    font-weight:700;
    margin: 0.7rem 1rem;
    position: absolute;
    &:hover{
        transform: scale(1.1);
        color: #2e3740;
        text-decoration: none;
     }
}