.testInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.testInfo__title{
    text-align: center;
    font-size: 3rem;
}

.testInfo__subtitle{
    text-align: center;
    font-size: 1.7rem;
    padding: 2.5rem 5rem; 
}