.traits{
    background-color: white;
    height: 100vh;
    overflow: auto;

}

.traits__title{
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
    & img{
        height: 8vh;
        margin: 0.5rem 0.5rem 0 1rem;
    }
    & h1{
        font-size: 5vh;
        margin:0;
        color: $color-title;
    }
}
.traits__next{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    & a{
        background: transparent;
        border:none;
        outline: none;
        &:hover{
            transform: scale(1.1);
            transition: all 0.2s ease;
        }
        &:active{
            transform: translateY(4px);
        }
    }
    & img{
        height: 15vh;
        &:hover{
            transform: scale(1.1);
            transition: all 0.2s ease;
        }
        &:active{
            transform: translateY(4px);
        }

    }
    & h5{
        margin-top:0.5rem ;
        font-size: 1.2rem;
        font-weight: 700;
    }

    & h6{
        font-weight: 700;
    }
}