.traits{
    background-color: white;
    height: 100vh;
    overflow: auto;

}

.traits__title{
    display: flex;
    margin-top:1rem;
    align-items: flex-end;
    margin-bottom: 2rem;
    & img{
        height: 8vh;

    }
}