.workOrientation__page{
    display: grid;
    grid-template-columns:  62vw 20vw;
    height: 100vh;
    background-color: white;
    justify-content: center;
}

.workOrientation__data{
    overflow: auto;
    overflow-x: hidden;
}

.workOrientation__next{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    & a{
        background: transparent;
        border:none;
        outline: none;

    }
    & img{
        height: 15vh;
        &:hover{
            transform: scale(1.1);
            transition: all 0.2s ease;
        }
        &:active{
            transform: translateY(4px);
        }
    }
    & h5{
        margin-top:0.5rem ;
        font-size: 1.2rem;
        font-weight: 700;
    }

    & h6{
        font-weight: 700;
    }
}

.workOrientation__title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    & img{
        height: 8vh;
        margin: 0.5rem 0.5rem 0 1rem;
    }
    & h1{
        font-size: 5vh;
        margin:0;
        color: $color-title;
    }
}

.workOrientaiton__item{
    display: flex;
    justify-content: center;
    text-align: center;
    & img{
        height: 15vh;
        margin: 0 1.3vw;
        cursor: pointer;
        box-shadow: 0 8px 5px -6px $color-subtitle;
    }
    & h6{
        margin-top: 1vh;
    }
}

.workOrientation__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 1rem;
    border-radius: 10px;
    padding: 1.5vh 0;
    transition: all ease 0.3s;
    box-shadow: 0 5px 5px rgba(#5a6270, 0.3), 0 6px 17px rgba(#5a6270, 0.2);
    & h1{
        font-size: 5vh;
        margin-bottom:1rem;
        color: $color-title;
    }
    & h2{
        padding: 0 3rem;
        text-align: center;
    }
    & p{
        padding: 0 1rem;
    }

    & li{
        text-align: start;
        padding: 0 1rem;
        margin-bottom:1.5vh;

    }

    & button {
        font-size: 2.5vh;
        background: transparent;
        border:none;
        outline: none;
        color: #FFD369;
        font-weight: bolder;
        transition: all 0.3s ease;
        &:hover{
            transform: scale(1.1);
        }
        &:active{
            transform: scale(1);
        }
    }
}